.footer {
  background: black;
  border-top: 1px solid #0ef;
  height: 80px;
  font-family: "Share Tech Mono", monospace;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 30px;
}

.footer h3,
a {
  color: #fff;
}

.footer a:hover {
  color: #0ef;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.footer .social-icon {
  width: 33%;
}

.footer .copyright {
  text-align: center;
  width: 33%;
}

.footer .contact {
  text-align: end;
  width: 33%;
}