.footer {
  background: black;
  border-top: 1px solid #0ef;
  font-family: "Share Tech Mono", monospace;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 20px 30px;
  list-style: none;
}

.footer h3,
a {
  color: #fff;
}

.footer svg {
  width: 20px;
  height: 20px;
}

.footer a:hover {
  color: #0ef;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.footer .copyright {
  text-align: center;
  width: 33%;
}

.footer .footer-social-icons {
  width: 33%;
}

.footer .footer-social-icons .social-icons {
  display: flex;
  justify-content: center;
}

.footer .footer-social-icons .social-icons li {
  padding: 0px 20px 0px 20px;
}

@media all and (max-width: 1024px) {
  .footer {
    width: 100%;
    background: black;
    border-top: 1px solid #0ef;
    height: 100%;
    font-family: "Share Tech Mono", monospace;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 20px 10px;
    list-style: none;
  }

  .footer .copyright {
    text-align: center;
    width: 100%;
  }

  .footer .footer-social-icons {
    width: 100%;
  }
}