@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.cdnfonts.com/css/technology?styles=26651");
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background: rgba(0, 0, 0, 0.9);
  box-shadow: 0 16px 64px 0 rgba(0, 238, 255, 0.7);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  z-index: 1;
  font-family: "Share Tech Mono", monospace;
  list-style: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  width: 100%;
  height: 100%;
}

.logo a {
  color: #fa3939;
  font-family: "Share Tech Mono", monospace;
}

.menu-hambuger {
  background: #333;
  border: 1px solid #333;
  border-radius: 10% 10% 10% 10%;
  display: block;
  font-size: 30px;
  height: 60px;
  line-height: 63px;
  position: relative;
  text-align: center;
  transition: .5s;
  width: 60px;
}


.menu-hambuger::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #0ef;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

.menu-hambuge:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #0ef;
}

.menu-hambuger:hover {
  color: #0ef;
  border: 1px solid #0ef;
  box-shadow: 0 0 15px #0ef, inset 0 0 5px #0ef;
  text-shadow: 0 0 5px #0ef;
  cursor: pointer;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu a {
  display: block;
  padding: 7px 15px;
  font-size: 17px;
  font-weight: 500;
  font-family: "Share Tech Mono", monospace;
  transition: 0.2s all ease-in-out;
  color: #FFF;
  font-family: "Share Tech Mono", monospace;
}

.menu a:hover {
  color: #0ef;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.container {
  width: 768px;
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-left: auto;
  margin-right: auto;
}